CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

vcpkg_installed/
build/
.vscode/

chat.grpc.pb.cc
chat.grpc.pb.h
chat.pb.cc
chat.pb.h